html,
body,
#root {
  height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  background: #f4f6f8;
}

.hc-container::-webkit-scrollbar {
  height: 10px;
}

.hc-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.day-column {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

@media (max-width: 600px) {
  .day-column {
    min-width: 220px
  }
}